.header{
    display: flex;
    justify-content: center;
    margin: 50px 0;
}
.footer{
    background-color: #EB5757;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}