<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../public/css/style.css">
    <title>Subject: Elevate Your Career with Our Resume Builder!</title>
</head>

<body>
   <div class="container">
    Dear [Recipient's Name],
    
   <div>
    Are you looking to make a powerful first impression in the competitive job market? Look no further! Our cutting-edge
    Resume Builder is here to help you create a standout resume that showcases your skills, experiences, and accomplishments
    in the best light possible.
   </div>
    
   <div>
    Crafting a well-designed and comprehensive resume is essential in today's job landscape, and our Resume Builder offers
    you a user-friendly platform to do just that. Whether you're a recent graduate entering the workforce or a seasoned
    professional looking to advance your career, our tool is tailored to cater to your specific needs.
   </div>    
   <div>
    Getting started is as simple as your otp: {{otp}} <a href=`http://localhost:3000/{{email}}`>{{email}}</a> to access our
    Resume Builder. Begin your journey
    towards a compelling resume that opens doors to exciting opportunities!
   </div>

   </div>
   <div style="background-color: #EB5757;">
        <img src="../public/image/Vector.png" alt="logo" />
   </div>
</body>

</html>