<!DOCTYPE html>
<html>
<link rel="stylesheet" href="../public/style.css">
<head>
    <title>Subject: Elevate Your Career with Our Resume Builder!</title>
</head>

<body>
    <div class="header">
        <img src="../public/logo.svg" alt="logo" />
    </div>
   <div>
    Dear [Recipient's Name],
    
    Are you looking to make a powerful first impression in the competitive job market? Look no further! Our cutting-edge
    Resume Builder is here to help you create a standout resume that showcases your skills, experiences, and accomplishments
    in the best light possible.
    
    Crafting a well-designed and comprehensive resume is essential in today's job landscape, and our Resume Builder offers
    you a user-friendly platform to do just that. Whether you're a recent graduate entering the workforce or a seasoned
    professional looking to advance your career, our tool is tailored to cater to your specific needs.
    
    Key Features of Our Resume Builder:
    - **Easy-to-Use Interface:** Our intuitive interface makes creating a professional resume a breeze, even for those with
    minimal design or technical skills.
    - **Customizable Templates:** Choose from a variety of beautifully designed templates to find the one that aligns with
    your personal brand.
    - **Step-by-Step Guidance:** Our guided process ensures that you don't miss out on any important sections while crafting
    your resume.
    - **Keyword Optimization:** We help you optimize your resume with relevant keywords to increase its visibility to
    potential employers and applicant tracking systems.
    - **Real-Time Previews:** See your resume come to life in real time as you add and edit content.
    - **Export Options:** Easily download your resume in various formats, including PDF and Word, so you can apply for jobs
    seamlessly.
    
    Getting started is as simple as your otp: {{otp}} <a href=`http://localhost:3000/${{email}}`>click here</a> to access our Resume Builder. Begin your journey
    towards a compelling resume that opens doors to exciting opportunities!
    
    Remember, a well-crafted resume can be the difference-maker in your job search. Invest in your future today by using our
    Resume Builder to create a resume that truly represents you and your aspirations.
    
    Should you have any questions or need assistance along the way, our support team is here to help. Feel free to reach out
    to [support@email.com](mailto:support@email.com).
    
    Best regards,
    
    Chiemela Christian
    CEO
   </div>
   <div class="footer">
        <img src="../public/logo.svg" alt="logo" />
   </div>
</body>

</html>