<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="max-width: 90%; margin:20px auto;">
    
        <div>Dear [User's Name],</div>
    
        <p>Welcome to our cevBuilder! We're excited to have you on board. To complete your registration, please follow
            these steps:</p>
    
        <p>1. Verify Your Email Address:</p>
    
        <p>To Verify Your Email Address click the following link to verify your email: <a
                href="http://localhost:3000/{{email}}">click here</a></p>
    
        <p>If the link doesn't work, copy and paste this URL into your browser: http://localhost:3000/{{email}}</p>
    
        <p>2. One-Time Password (OTP):</p>
    
        <p>Your One-Time Password (OTP) for registration is: {{otp}} please use this OTP when prompted during the
            registration process.</p>
    
        <p>If you didn't sign up for an account with us, please disregard this email.</p>
    
        <p>Thank you for choosing us. We look forward to serving you!</p>
    
        <p>Best regards,</p>
        <p>cevBuilder</p>
        <p>+2347025362583</p>
    </div>
</body>
</html>

